.container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    min-height: 300px;
    line-height: 1.5

}

.buttons {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    margin-top: 20px;
}
.radioButtons{
    display: flex;
    flex-direction: column;
    width:300px

}
.rate{
    width:300px
}
.radioBox{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.question{

}