.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 36px;
    box-sizing: border-box;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.button_container {
    margin: 25px;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    background-color: #000000;
    border-radius: 20px/50px;
    cursor: pointer;
    outline: 0 transparent !important;
}

.button:hover {
    background: #36485f;
}

/*.modal {*/
/*    border-style: solid;*/
/*    border-radius: 5px;*/
/*    margin: 70px auto;*/
/*    padding: 20px;*/
/*    background: #fff;*/
/*    width: 30%;*/
/*    position: relative;*/
/*    transition: all 5s ease-in-out;*/
/*}*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 36px;
    box-sizing: border-box;
    background: #fff;

    z-index: 1;

    border-style: solid;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.modal .close:hover {
    color: #828684;
}

.modal .content {
    max-height: 30%;
    overflow: auto;
}