a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.header{
    padding:25px;
    background-color: #33495f;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 600px;
    min-height: 35px;
}
