.registration {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 413px;
    border-radius: 8px;
    background: #F9F9FE;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}