.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: linear-gradient(165deg, #b5e0ff, #000437);
  background-attachment: fixed;
}
