$bg-color: #2b3c4e;
$hl-color: #000000;
$muted-color: mix(white, $bg-color, 10%);
$trans-time: 300ms;
$width: 320px;
.group textarea {
    resize: none;
}
.group {
  position: relative;
  margin: 30px 0;
}
.group input,
.group textarea {
    width: $width;
    background: none;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
&:focus {
     outline: none;
 }
&:focus ~ label,
&:valid ~ label {
     top: -14px;
     font-size: 12px;
     color: $hl-color;
 }
&:focus ~ .bar:before {
  width: 100%;
 }
}

.group input[type="password"] {
    letter-spacing: 0.3em;
}

.group label {
    color: $muted-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: $trans-time ease all;
}

.bar {
    position: relative;
    display: block;
    max-width: $width;
&:before {
     content: '';
     height: 2px;
     width: 0;
     bottom: 0;
     position: absolute;
     background: $hl-color;
     transition: $trans-time ease all;
     left: 0;
 }
}