.pages {
  margin: 20px 0;
  .page,.currentPage {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
  }
  .currentPage{
    border:2px solid gray;
    font-weight: 700;
  }
}

.container {
  min-width: 1050px;
  display: flex;
}

.sideBar {
  min-width: 300px;
  background-color: #5c758d;
  display: flex;
  justify-content: center;
}

.toggle{
  display: flex;
}

.buttons {
  margin-top: 100px;
  min-width: 100px;
}
