$breakpoint-1250: 1250px;
$breakpoint-700: 700px;
$breakpoint-400: 400px;


.container {
  max-width: 1200px;
  min-height: 600px;
  display: flex;
  @media (max-width: $breakpoint-1250) {
    flex-direction: column;
    width: 100%;
    .logo {
      display: none;
    }
  }
  .after {
    @media (max-width: $breakpoint-700) {    position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
      transition: all 0.5s;
      transform: translate(+50%, -80%) scale(0);
      border-radius: 8px;
      opacity: 0;
      &.show {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
      @media (max-width: 450px) {
        border-radius: 0;
      }}

  }

  .tableContainer {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 380px) {
      padding: 0;
    }

    .header {
      height: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .sideBar {
    min-width: 300px;
    background-color: #5c758d;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: $breakpoint-1250) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    @media (max-width: $breakpoint-700) {
      border-radius: 8px;
      flex-direction: column;
      position: fixed;
      min-height: 400px;
      transform: translate(+50%, -50%) scale(0);
      right: 1em;
      top: 1em;
      opacity: 0;
      z-index: 5;
      transition: all 0.5s;
      &.show {
        visibility: visible;
        opacity: 1;
        transform: translateX(0) scale(1);
      }


    }

    .toggle {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;

      .buttons {
        min-width: 90px;
        margin: 5px;
      }
    }

  }
}


.filter {

  @media (min-width: $breakpoint-700) {
    display: none;
  }
}

.label {
  text-align: center;
  margin: 40px 0;
  @media (max-width: $breakpoint-1250) {
    margin: 15px;

  }
}


.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding-left: 1em;
}



.hidden700 {
  @media (min-width: $breakpoint-700) {
    display: none;
  }
}


