@import "PacksList.module";

.profileBody {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.imgProfile {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}


.profileBar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #33495f;
  padding: 1em;
  @media (max-width: $breakpoint-1250) {
    flex-direction: row;
  }
  @media (max-width: $breakpoint-700){
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: $breakpoint-400) {

  }
}

.editProfile {
  color: #95a8d3;
}

.front {
  opacity: 0.5;
}

.imgProfile {
  width: 180px;
  height: 180px;
}

